Options +FollowSymLinks -Indexes
RewriteEngine on
RedirectMatch 403 ^/(system).*$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|robots\.txt|sitemap\.xml|assets|node_modules|vendor)
RewriteRule ^(.*)$ index.php/$1 [L]